@inject NavigationManager navi

<InputFilter  BuscarActivo="GetActivoFijoFilter" />

<Grid TItem="Producto"
Class="table table-hover table-bordered table-striped"
Data="paginado.registros"
AllowPaging="true"
PageSize="100"
Responsive="true">

    <GridColumns>
        <GridColumn TItem="Producto" HeaderText="Inventario">
            @context.bienID
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Tipo de bien ">
            @context.tipoBien
        </GridColumn>      
        <GridColumn TItem="Producto" HeaderText="Marca">
            @context.marca
        </GridColumn>      
        <GridColumn TItem="Producto" HeaderText="Serie">
            @context.numeroDeSerie
        </GridColumn>     
        <GridColumn TItem="Producto" HeaderText="Descripción">
            @context.descripcion
        </GridColumn>
        <GridColumn TItem="Producto" HeaderText="Añadir Producto">
            <Button Color="ButtonColor.Success" @onclick="@(async ()=> await AddActivo(@context))">
                <Icon Name="IconName.Plus"/>
            </Button>

        </GridColumn>
    </GridColumns>

</Grid>

@code {
    
    private Paginado? paginado { set; get; } = new();

    [Parameter]
    public Func<Producto,Task>AddActivo{ set; get; }

    protected override async Task OnInitializedAsync()
    {
        paginado.registros = new();
    }
   
    private async Task GetActivoFijoFilter(long? nInventario )
    {
        try
        {
            if (nInventario is not null)
            {
                var client = new HttpClient();
                var request = new HttpRequestMessage(HttpMethod.Get, $"{navi.BaseUri}api/activo/proxy");
               //https://sistemas.dif.hidalgo.gob.mx/WebServicesARM/ActivoFijo/api/Bienes/consulta?bienID=2113001341
                var response = await client.SendAsync(request);
                //response.EnsureSuccessStatusCode();
                var text = await response.Content.ReadAsStringAsync();
                Console.WriteLine(text);
                paginado = JsonConvert.DeserializeObject<Paginado>(text);
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("Ocurrió un error inesperado: " + e.Message);
        }
        //return paginado.registros;
    }
}