<Grid @ref="grid"
      TItem="SolicitudBien"
      Class="table table-hover table-bordered table-striped mt-3"
      Data="Solicitudes">

    <GridColumns>
@*         <GridColumn TItem="SolicitudBien" HeaderText="Fecha">
            @context.fyh
        </GridColumn> *@
        <GridColumn TItem="SolicitudBien" HeaderText="No.">
            @context.Numero
        </GridColumn>
        <GridColumn TItem="SolicitudBien" HeaderText="No. Inventario">
            @context.NumeroInventario
        </GridColumn>
        <GridColumn TItem="SolicitudBien" HeaderText="Descripción">
            @context.Descripcion
        </GridColumn>
        <GridColumn TItem="SolicitudBien" HeaderText="Motivo de salida">
            @context.MotivoSalida
        </GridColumn>
        <GridColumn TItem="SolicitudBien" HeaderText="Observaciones">
            @context.Observaciones
        </GridColumn>
    </GridColumns>
</Grid>

@if (DatosModal != null && DatosModal.Any())
{
    <h3>Datos Capturados</h3>
    <ul>
        @foreach (var dato in DatosModal)
        {
            <li>@dato</li>
        }
    </ul>
}
else
{
    <p>No hay datos disponibles.</p>
}

@code {
    [Parameter]
    public List<SolicitudBien> Solicitudes { get; set; } = new();

    [Parameter]
    public List<string> DatosModal { get; set; } = new();

    Grid<SolicitudBien> grid = default!;
    private List<SolicitudBien>? solicitudes;

    protected override void OnInitialized()
    {
        solicitudes = new List<SolicitudBien>();
    }

    public async Task AddSolicitud(SolicitudBien solicitud)
    {
        solicitudes!.Add(solicitud);
        await grid.RefreshDataAsync();
    }
}